<!DOCTYPE html>
<html>
<head>
	<title>More Images</title>
</head>
<body>
	<h1>More Images</h1>
	<h3> Go to: 
		<a href="../index.html">Home Page</a>
	</h3>
	<figure>
	
		<img src="../images/soccerkickimg.jpg" width="320" height="300" alt="Picture of a player in the motion of kicking a soccer ball on the field.">
		<figcaption> <p><small>Source: Pexels.com</small></p> Soccer is a passion and a great activity to relieve stress when pressured by responsibilities.</figcaption>
	</figure>
	<figure>
		<img src="../images/mckinseyco.png" width="400" height="200" alt="McKinsey and Company blue and white logo.">
		<figcaption> <p><small>Source: McKinsey&Co</small></p>McKinsey is a dream company I intend to work for down the road.</figcaption>
	</figure>
	<figure>
		<img src="../images/rooseveltislandtram.jpg" width="400" height="350" alt="The Roosevelt Island Tram in motion next to the Queensboro Bridge.">
		<figcaption>The Roosevelt Island Tram is an increasingly popular tourist attraction. To someone who grew up on Roosevelt Island from age 7 however, it remains as ONE of only THREE ways to get out of the island.</figcaption>
	</figure>
	<figure>
		<img src="../images/FCBarcelonaGoldenEra.jpg" width="400" height="278" alt="Team photo of FC Barcelona in 2010 with club legends like Leo Messi, Carles Puyol, and Andres Iniesta.">
		<figcaption><p><small>Source: Christopher Johnson on <i>Flickr</i></small></p> Not just a favourite club. This photo encompases inspiring athletes who, despite their incredible natural talent and individual success, show incredible work ethic, respect and humility on and off the field.</figcaption>
	</figure>
	<figure>
		<img src="../images/PunchTodayInTheFace.jpg" width="400" height="263" alt="A coffee shop with a study desk situated with a wall that reads 'Punch Today In The Face.'">
		<figcaption><p><small>Source: @jdubs on <i>Unsplash</i></small></p> The attitude determines the outcome. By following this mantra, keeping peace and a stress-free environment has never been easier.</figcaption>
	</figure>
</body>
</html>